{{response.files.append(URL('static', 'css/nile_custom.css'))}}
{{response.files.append(URL('static', 'css/landing.css'))}}
{{include 'header.html'}}
{{include 'web2py_ajax.html'}}


 <title>Nile - Click Away!</title>

</div>
	<div class="bigolbanner">
		<div class="bigolbanner-container">

			<div class="carousel">
				<img class="slide-image" src="../static/images/nilerox2.jpg" alt="Check out this cool new stuff!">
			</div>
			<div class='notcarousel'>
				<div class='create-account-container'>

					<h2 align="center">
						Create Account
					</h2
					<form enctype="multipart/form-data" action="{{=URL()}}" method="post" class="signupform" >
						<div class="signupnames">
							<div>Your first name: </div>
							</br>
							<div>Your last name: </div>
							</br>
							<div>Your email: </div>
							</br>
							<div>Your password: </div>
							</br>
							<div>Your shipping address: </div>
							</br>
                            <div>Secret question. Pet name ?</div>
						</div>
						<div class="signupfields">
							<div class='create-account-field-container'><input name="firstNameNew" /></div>
							<div class='create-account-field-container'><input name="lastNameNew" size="5" /></div>
							<div class='create-account-field-container'><input name="emailNew" /></div>
							<div class='create-account-field-container'><input name="passwordNew" /></div>
							<div class='create-account-field-container'><input name="shippingAddressNew" /></div>
                            <div class='create-account-field-container'><input name="Answernew" /></div>
						</div>
						<input type="submit" align="center" />
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="itemholster">
		<div class='itemholster-container'>
			{{for i in range(7):}}
			<div class="item">
				<div>
					<img src="../static/images/skate.jpg" class="itemimage">
				</div>
				<font size="5">{{=products[i].name}}</font></br>
				<font color="red">${{=products[i].price}}</font>
			</div>	
			{{pass}}
		</div>	
	</div>

</div>

<style>

.itemholster-container{
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 50px;
	width:80%;
}

.bigolbanner-container{
	margin-left:auto;
	margin-right:auto;
	height:inherit;
	width:85%;
}

.bigolbanner
{
	margin-top: 10px;
	text-align: center;
	width: 99%;
	min-height: 350px;
	height:350px;
}

.carousel
{
	text-align: left;
	float: left;
	width: 800px;
}

.notcarousel
{
	margin-left: auto;
	margin-right: auto;
	padding-bottom:40px;
	float: left;
	width: 525px;
	height: auto;
}

.create-account-container
{
	height: 80%;
	width:375px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:20px;
	border-radius: 10px;
	border: 1px solid rgb(230, 230, 230);
	box-shadow:5px 5px 2px 2px rgb(200, 200, 200);
}

.create-account-field-container
{
	font-size: 20px;
	text-align: left;
}

.create-account-field-container > input
{
	width: 150px;
	margin-bottom: 9px;
	text-align: left;
}

form.signupform
{
	text-align: right;
	text-indent: 5px;
}

.signupnames
{
	width: 40%;
	text-align: right;
	float: left;
}

.signupfields
{
	width: 55%;
	text-align: left;
	float: right;
}

.itemholster
{
	clear: both;
	margin-left: auto;
	margin-right: auto;
	min-height: 250px;
	width:95%;
	height: 20%;
	justify-content: center;
}

.item
{
	margin-right: 10px;
	float: left;
	color: #3366FF;
	width: 150px;
	min-height: 200px;
	border-radius: 7px;
	padding-left: 5px;
	background-image: linear-gradient(to bottom, #3093c7, #62B0C7);filter:progid:DXImageTransform.Microsoft.	gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#62B0C7);
	box-shadow:2px 2px 1px 1px rgb(200, 200, 200);
}

img.itemimage
{
	width:130px;
	padding-left: 10px;
	padding-top: 10px;
}

</style>
