{{include 'header.html'}}
{{response.files.append(URL('static', 'css/nile_custom.css'))}}
{{include 'web2py_ajax.html'}}

<div class="body-container-wrapper">
	<div  class="body-container">
		<div class="search-container">
			<input type='text' placeholder='search'>
		</div>
		
		<div class="page-title">
			<h1>Account Page</h1>
		</div>
		
		<div class="account">
			<h2>Account Information</h2>
			<span class="first">Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{=account.first_name}}</span>
			<span class="last">{{=account.last_name}}</span>
			<br />
			<span class="email">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{=account.email}}</span>
			<br />
			<span class="address">Address&nbsp;&nbsp;&nbsp;&nbsp;{{=account.shipping_address}}</span>
		</div>

		<div class="order-info">
			<table>
				<tr>
					<th align="left" colspan="3">
						<h2>Order Information</h2>
					</th>
				</tr>
				<tr>
					<th>Order Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<th>Date Placed&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
					<th>Estimated Delivery Date</th>
				</tr>
				<tr>
					<td>1262</td>
					<td>Oct 21, 2014</td>
					<td>Nov 4, 2014</td>
				</tr>
			</table>
		</div>
	</div>
</div>


<style>

.page-title{
	font-size:45px;
	float:left;
}

.account{
	font-size:20px;
	float:left;
	margin-left:80px;
}

.search-container{
	margin-bottom:80px;
}

.body-container{
	/* center page */
	margin-right:auto;
	margin-left:auto;


	width:85%;
	height:800px;
	border:1px solid;
}

.body-container-wrapper{

	width:100%;
	border:1px solid red;
}

.order-info{
	float:left;
	margin-left:80px;
}

</style>
