{{include 'header.html'}}
{{response.files.append(URL('static', 'css/nile_custom.css'))}}
{{include 'web2py_ajax.html'}}

<div class="body-container-wrapper">
	<div  class="body-container">
		{{include 'search_bar.html'}}
		
		<div class='left-container'>
			<div class='image-container'>
				<img class='search-item-image' src='../../static/images/toilet.jpg'>
			</div>
		</div>

		<div class='right-container'>
			<div class='item-name-container'>
				<span>{{=product.name}}<span> <button class='cart-add-button default-button'><img class='cart-img' src='../../static/images/cart.png'>Add to cart</button>
			</div>
			<div class="item-subtext-container">
				<div class='item-by-container'> by {{=product.producer}} </div>

				<span class='star-wrapper'>
					<div class='star-container'>
						{{for i in xrange(rating):}}
							<img class='star-img' src='../../static/images/star.png'>
						{{pass}}
					</div>
				</span>
			</div>

			<hr>

			<div class="item-price-container">
				Price: <span>${{=product.price}}</span>
			</div>

			<div class="item-occurrence-container">
				In Stock: {{=product.occurrence}}
			</div>
			
			<div class='item-details-wrapper'>

				<div class='item-description-container'>
					<span class='item-review-header-span'>
						Product Description
					</span>
					<hr>
					{{=product.description}}
				</div>
				{{if len(reviews) > 0:}}
					<div class='item-review-wrapper'>
						<span class='item-review-header-span'>Product Review</span>
						<hr>
					{{for review in reviews:}}
						<div class='item-review-container'>
							<span class='item-review-by-span'>by: {{=review.account_id.first_name}}</span>
							<div class='item-review-rating-container'>

								{{for star in range(int(review.rating)):}}
									<img class='small-star-img' src="../../static/images/star.png">
								{{pass}}

							</div>
							<br>
							{{=review.review_description}}
						</div>	
					{{pass}}
					</div>
				{{pass}}

			</div>

	</div>
</div>


<style>

.item-review-container{
	margin:25px;
}

.item-details-wrapper{
	padding:10px;
	border:1px solid rgb(240, 240, 240);
	border-radius: 10px;
	margin-bottom:10px;
}

.star-container{
	float:right;

}
.star-wrapper{
	float:right;
	width:79%;
	display:inline-block;
}

.item-review-rating-container{
	float:right;
}

.small-star-img{
	width:30px;
}
.star-img{
	width:50px;
}

.item-review-by-span{
	font-size:18px;
	color:rgb(100, 100, 200);
}

.item-review-header-span{
	font-size:25px;
	color:grey;
}
.item-review-wrapper{
	margin-top:15px;
	padding:25px;
	font-size:22px;
}

.cart-img{
	position:relative;
	right:10px;
	width:30px;
	height:15px;
}

.cart-add-button{
	margin-top:10px;
	float:right;
	width:200px;
	font-size:20px;
}

.item-occurrence-container{
	padding:1px 0 8px 0;
	font-size: 20px;
}

.item-description-container{
	margin-top:15px;
	border-radius:15px;
	border:1px solid rgb(200,200,200);
	box-shadow: 2px 2px 2px rgb(240, 240, 240);
	padding:25px;
	font-size:22px;
}


.search-item-image{
	width:500px;
}

.item-price-container > span{
	font-size:45px;
	color:red;
}

.item-price-container{
	font-size:35px;
	color:grey;
}
.item-by-container{
	float:left;
	padding-top:15px;
	color:blue;
}
.item-subtext-container{
	float:left;
	width:100%;
	font-size:32px;
}

.item-subtext-container > span{
}

.item-name-container{
	font-size:60px;
}

.left-container{
	float:left;

	width:40%;
}
.right-container{
	float:left;
	width:59%;
	height:auto;
}

.body-container{
	/* center page */
	margin-right:auto;
	margin-left:auto;


	width:85%;
	height:800px;
	min-width:1000px;
}

.body-container-wrapper{
	width:100%;
}

</style>