<div class='search-container-wrapper'>
	<div class="search-container">
		<input class='input-mighty' type='text' placeholder='search'>
	</div>
</div>


<style>

.search-container > input{
	width:50%;
}

.search-container-wrapper{
	margin:30px 0 30px 0;
	width:100%;
}

.search-container{
	text-align:center;
}
</style>