{{response.files.append(URL('static', 'css/nile_custom.css'))}}
{{include 'web2py_ajax.html'}}
{{include 'header.html'}}

<!DOCTYPE html>
<html>
<head>
	<title> </title>
</head>
<body>

<div class='body-container-wrapper'>
	<div class='body-container'>
		<div class='search-container'>
			<div class='search-bar-container'>
				<input class='search-bar' type='text' placeholder='Browse'>

				<div class='search-widget-container'>
					<div class='search-sort-span'>Filter:</div>
				
				</div>
			</div>

		</div>

		{{for product in products:}}
			<div class='search-item-container'>
				<a class='search-item-header' href='javascript(0)'>
					{{=product.name}}
				</a>
				
				<div class='search-item-author-details'>
				 	by {{=product.producer}}
				</div>

				<img class='search-item-image' src="{{=product.image}}" />

				<div class='search-item-sale-details'>
					<span class='text-red'>${{=product.price}}</span> - 5 in stock <br/> <span class='text-grey'> October 15th, 2014</span>
				</div>
			</div>
		{{pass}}

	</div>

</div>


</body>


<style>

.search-item-author-details{
	padding-bottom:5px;
	color:rgb(100, 100, 100);
}
.search-item-header{
	font-size:20px;
	text-decoration: none;
}

.search-item-container{
	text-align:center;
	border:1px solid rgb(200, 200, 200);
	width:22%;
	padding:10px;
	display:inline-block;
}

.search-content-container{
	margin-left:20px;
	margin-top:10px;
}


.search-widget-container{
	margin-top:10px;
}

.search-widget-span{
	margin-top:25px;
}

.search-widget-button-container{
	width:80px;
	height:80px;
	margin-right:20px;
	display:inline-block;
	text-align:center;
	vertical-align: middle;
	border: 1px solid rgb(100, 100, 100);
	box-shadow: 6px 6px 2px 2px rgb(220, 220, 220);
	border-radius:50px;
	background-color:rgb(220, 240, 240);
}


.search-filter-selected{
	background-color:rgb(100, 250, 150);
}

.search-sort-span{
	height:50px;
	width:50px;
	text-align:center;
	padding-top:25px;
	margin-right:20px;
	margin-left:10px;
	float:left;
	font-size:19;
	border:1px solid rgb(180, 180, 180);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(220, 250, 250)
}

.search-bar{
	font-size:20px;
	width:100%;
	text-align:center;

}

.search-bar-container{

	width:80%;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}

.search-container{
	width:100%;
	height:200px;
}

.body-container{
	min-width:800px;
	width:65%;
	height:auto;
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid rgb(230, 230, 230);
	box-shadow:5px 5px 2px 2px rgb(200, 200, 200);

}
.body-container-wrapper{
	width:100%;
}
</style>

<script>
	$(function()
	{

	});
</script>
</html>