{{include 'header.html'}}

{{response.files.append(URL('static', 'css/nile_custom.css'))}}
{{include 'web2py_ajax.html'}}

<!DOCTYPE html>

	  	<script type="text/javascript">
      		function generateOrder(){
        		if((document.OrderForm.Flushmaster.value<0)||(document.OrderForm.ZipZap.value<0)||(document.OrderForm.Bike<0)||(document.OrderForm.Ring.value<0)||(document.OrderForm.Mint.value<0)){
          			alert("ERROR: No Negative values permitted!");  
        		}
        		else{
          			document.OrderForm.label.value="The Flushmaster:"+document.OrderForm.Flushmaster.value+" @ the cost of $297.99: $"+(document.OrderForm.Flushmaster.value*297.99).toFixed(2)+"\nThe ZipZap: \t"+document.OrderForm.ZipZap.value+" @ the cost of $199.99: $"+(document.OrderForm.ZipZap.value*49.95).toFixed(2)+"\nBike:\t\t"+document.OrderForm.Bike.value+" @ the cost of $122.05: $"+(document.OrderForm.Bike.value*122.05).toFixed(2)+"\nRing:\t\t"+document.OrderForm.Ring.value+" @ the cost of $299.99: $"+(document.OrderForm.Ring.value*299.99).toFixed(2)+"\nMints:\t\t"+document.OrderForm.Mint.value+" @ the cost of   $2.99: $"+(document.OrderForm.Mint.value*2.99).toFixed(2)+"\n\nThe total price of the order will be: $"+((document.OrderForm.Flushmaster.value*297.99)+(document.OrderForm.ZipZap.value*199.99)+(document.OrderForm.Bike.value*122.05)+(document.OrderForm.Ring.value*299.99)+(document.OrderForm.Mint.value*2.99)).toFixed(2);
        		}
      		}
      		function clearOrder(){
        		document.OrderForm.label.value="Your Order Details will appear here...";
        		document.OrderForm.Flushmaster.value=0;
        		document.OrderForm.ZipZap.value=0;
       			document.OrderForm.Bike.value=0;
      			document.OrderForm.Ring.value=0;
       			document.OrderForm.Mint.value=0;
      		}
    	</script>
	</head>
  
    	<p align="center" border="5">Checkout Form</p>
   		<form name="OrderForm">  
    	<br />
    		<table align="center" border="1">
        	<tr>
          <td>
            <img src='../../static/images/Supertoilet.jpg' alt="Flushmaster" width="300">
          </td>
					    <td>
            			The Flushmaster Hi-fi Commoner Commode
        			</td>
    			<td>
        			$297.99
				</td>
			<td>
            	<input type="text" name="Flushmaster" value="0" />
			</td>
    	</tr>
    	<tr>
      <td>
            <img src='../../static/images/Microwave.png' alt="Microwave" width="300">
          </td>
			<td>
            	Brand Name Zip-Zap Microwave
        	</td>
        	<td>
            	$199.99
			</td>
			<td>
            	<input type="text" name="ZipZap" value="0" />
			</td>
    	</tr>
    	<tr>
      <td>
            <img src='../../static/images/Bike.jpg' alt="Bicycle" width="300">
      </td>
			<td>
            	Wheel-y Exciting Bicycle.
        	</td>
    		<td>
        		$122.05
			</td>
			<td>
            	<input type="text" name="Bike" value="0" />
			</td>
 		</tr>
    	<tr>
      <td>
            <img src='../static/images/Ring.jpg' alt="Ring" width="300">
      </td>
			<td>
            	Ring of Invisibility
        	</td>
        	<td>
            	$299.99
			</td>
			<td>
         	   <input type="text" name="Ring" value="0" />
			</td>
    	</tr>
    	<tr>
      <td>
            <img src='../../static/images/Mint.jpg' alt="Delicious Mints" width="300">
          </td>
			<td>
        	    Environ-Mint Friendly Mints
        </td>
   			<td>
        	    $2.99
			</td>
			<td>
        	    <input type="text" name="Mint" value="0" />
			</td>
    	</tr>
	</table> 

      <p  align="Center">
        <input align="center" type="button" value="Generate Order Form" onClick="generateOrder();"/>
        <input align="center" type="button" value="Reset Values" onClick="clearOrder();"/>
        <br /><br />
        <textarea name="label" rows=11 cols=50 wrap="on">Your Order Details will appear here...</textarea>
        <br /><br />
      </p>
	  </form>	